*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: #f3f2ec;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease-in-out;
}

.contact-form:hover {
  transform: scale(1.05);
}

.form-control {
  margin-bottom: 20px;
}

.submit-btn {
  background-color: black;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.submit-btn:hover {
  background-color: black;
  color: white;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.success-message {
  color: green;
  text-align: center;
  margin-top: 20px;
  display: none;
}
